<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding ion-text-center">

  <ion-grid>
    
    <ion-row>
      <ion-col id="mensaje">
        <p>
          A message will be sent to your email to recover the password
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="correo">
        <ion-label class="ion-text-center">Email</ion-label>
        <ion-input clearInput class="text" [(ngModel)]="item.correo">
        </ion-input>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <ion-button id="aceptar" expand="block" class="text capitalize" color="rojizo" shape="round" (click)="resetPassword()">
    ACCEPT
  </ion-button>

  <ion-button id="cancelar" expand="block" class="text capitalize" color="rojizo" shape="round" href="/login">
    Cancel
  </ion-button>
</ion-content>