#content {
  width: 100%;
  height: 100vh;

  --background: url('../../../assets/images/login wallpaper.jpg');
  
}
::part(background) {
  background-position: center;
  background-size: cover;
}

#mensaje{
  background-color: #00000081;
  border-radius: 30px;
}

#correo{
  margin: 30px;
  background-color: #00000081;
  border-radius: 50px;
}

#aceptar {
  position: absolute;
  width: 32%;
  height: 48px;
  left: 10%;
  top: 320px;
  background: linear-gradient(0deg, rgba(205, 57, 57, 0.58), rgba(205, 57, 57, 0.58)), linear-gradient(0deg, rgba(205, 57, 57, 0.58), rgba(205, 57, 57, 0.58)), rgba(205, 57, 57, 0.58);
  border-radius: 50px;
}

#cancelar {
  position: absolute;
  width: 32%;
  height: 48px;
  left: 55%;
  top: 320px;

background: linear-gradient(0deg, rgba(205, 57, 57, 0.58), rgba(205, 57, 57, 0.58)), linear-gradient(0deg, rgba(205, 57, 57, 0.58), rgba(205, 57, 57, 0.58)), rgba(205, 57, 57, 0.58);
border-radius: 50px;
}