<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding ion-text-center">
  <ion-grid>
    <!-- Label correo electronico -->
    <ion-row>
      <ion-col text-center id="correo">
        <ion-label>email</ion-label>
        <ion-input [(ngModel)]="item.correo" clearInput type="text"></ion-input>
      </ion-col>
    </ion-row>
    <!-- Label contrasena -->
    <ion-row>
      <ion-col text-center id="contrasena">
        <ion-label>password</ion-label>
        <ion-input [(ngModel)]="item.contrasena" clearInput type="text"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Boton registrarse -->
  <ion-button id="register" expand="block" class="text capitalize" color="rojizo" shape="round" href="/register">
    Register
  </ion-button>
  <!-- Boton login -->
  <ion-button id="login" expand="block" class="text capitalize" color="rojizo" shape="round" (click)="login()">
    Login
  </ion-button>

  <!-- resset password -->
  <footer class="center" id="links">
    <br>
    <a href="/reset-password" style="color:#ffffff;">
      <ion-icon name="mail"></ion-icon>
      recover your password
    </a>
  </footer>
</ion-content>