<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-grid>
    <!-- Label correo electronico -->
    <ion-row>
      <ion-col text-center id="correo">
        <ion-label>email</ion-label>
        <ion-input [(ngModel)]="item.correo" clearInput type="text"></ion-input>
      </ion-col>
    </ion-row>
    <!-- Label contrasena -->
    <ion-row>
      <ion-col text-center id="contrasena">
        <ion-label>password</ion-label>
        <ion-input [(ngModel)]="item.contrasena" clearInput type="text"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Boton registrarse -->
  <ion-button id="cancelar" expand="block" class="text capitalize" color="rojizo" shape="round" href="/login">
    Cancel
  </ion-button>
  <!-- Boton login -->
  <ion-button id="confirmar" expand="block" class="text capitalize" color="rojizo" shape="round" (click)="register()">
    Confirm
  </ion-button>

</ion-content>